* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header {
    display: flex;
    /* border: 1px solid black; */
    padding: 20px 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;

}

.logo {
    font-size: 25px;
    color: rgb(5, 65, 5);
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 700;
}

.nav {
    display: flex;

    >li {
        list-style-type: none;
        margin-left: 15px;

        &:hover {
            >a {
                background-color: rgb(5, 65, 5);
                color: white;
            }
        }

        >a {
            font-size: 22px;
            text-decoration: none;
            color: rgb(5, 65, 5);
            transition: 0.6s;
            border-radius: 25px;
            padding: 6px 20px;
        }
    }
}

.green {
    color: white !important;
    background-color: rgb(5, 65, 5);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, rgb(5, 65, 5), transparent);
        z-index: 10;
    }
}

#text {
    color: rgb(5, 65, 5);
    position: absolute;
    font-size: 150px;
    text-transform: capitalize;
    text-align: center;
    transform: translateY(-50%);

    >span {
        font-size: 50px !important;
        letter-spacing: 4px;
        font-weight: 350;
    }
}

#exp {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(217, 217, 236);
    color: rgb(5, 65, 5);
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 22px;
    transform: translateY(100px);
}

.sec {
    position: relative;
    background-color: rgb(5, 65, 5);
    padding: 50px;

    >h3 {
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
    }

    >p {
        color: white;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.myfoot {
    width: 230px;
    height: 230px;
    position: fixed;
    right: 40px;
    bottom: 40px;

    &:hover {

        >img,
        &::before {
            animation-play-state: paused;
        }

        >figcaption {
            bottom: -30px;
            opacity: 1;
        }

        >a {
            right: 150%;
        }
    }

    >img,
    &::before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    >img {
        object-fit: cover;
        animation: fancy1 ease-out infinite alternate 5s;
    }

    &::before {
        content: '';
        background-color: mediumorchid;
        animation: fancy2 ease-out infinite alternate 5s;
    }

    >figcaption {
        position: absolute;
        width: 100%;
        text-align: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 23px;
        text-transform: capitalize;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: 1s;
        color: mediumorchid;
    }

    a {
        font-size: 25px;
        color: mediumorchid;
        position: absolute;
        right: 50%;
        text-decoration: none;
        transition: 1s;

        &:nth-of-type(1) {
            top: 20%;
            transition-delay: 0.2s;
        }

        &:nth-of-type(2) {
            top: 40%;
            transition-delay: 0.4s;
        }

        &:nth-of-type(3) {
            top: 60%;
            transition-delay: 0.6s;
        }

        &:nth-of-type(4) {
            top: 80%;
            transition-delay: 0.8s;
        }
    }
}

@keyframes fancy1 {
    0% {
        border-radius: 51% 49% 25% 75% / 46% 31% 69% 54%;
    }

    50% {
        border-radius: 31% 69% 15% 85% / 68% 64% 36% 32%;
    }

    100% {
        border-radius: 18% 82% 76% 24% / 66% 45% 55% 34%;
    }
}

@keyframes fancy2 {
    0% {
        border-radius: 31% 69% 15% 85% / 68% 64% 36% 32%;
    }

    50% {
        border-radius: 18% 82% 76% 24% / 66% 45% 55% 34%;
    }

    100% {
        border-radius: 51% 49% 25% 75% / 46% 31% 69% 54%;
    }
}